.header {
    
   background:rgba(255,255,255, 0.30);
    background-size:100% 100%;
    height:90px;
    border-bottom-width: 2px;
    border-bottom-color: #666666;
    border-bottom-style: solid;
 
}

.main{
  
    display:flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  
}

.article {
  position: relative;
  opacity: 0.90;
  margin-top: 100px;
  width: 400px;
  height: 350px;
  border-radius: 15px;
  background-color:rgba(255,255,255, 0.65);;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border:solid;
  border-color: #666666;
  border-width: 2px;


}

.text_convert_currency{
    
    color:#4d4d4d;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    text-align: center;
    
}

.returned_text{
    
    opacity:0.95;
    margin-top:1px;
    color:red;
    letter-spacing: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: center;
    font-size: 14px;
   
}

body {
    background: #3494e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3494e6, #ec6ead); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3494e6, #ec6ead); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:0;
    margin:0;
   }

.div_for_return_text {
    
    opacity:0.7;
    width:inherit;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    height:23px;
    background-color: #ffbec2;
    top:56px;
    margin: 0px;
    padding: 0px;
    border-radius: 7px;
    
   
  }

input[type=text], select {
   
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 7px;
    box-sizing: border-box ;
    background-color:rgba(255,255,255, 0.75);
}



input[type=submit] {
    width: 100%;
    background-color:rgba(255,255,255, 0.4);
    color: black;
    padding: 14px 20px;
    margin: 4px 0;
    border:solid;
    border-color: #666666;
    border-width: 1px;
    border-radius: 7px;
    letter-spacing: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:rgba(255,255,255, 0.65);
}

.logout{
    margin:25px;
    float:right;
    width:70px;
    
}


input[class=logoutBtn] {
     margin:0;
    width: 100%;
    background-color:rgba(255,255,255, 0.00);
    color: #4d4d4d;
    padding:10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:solid;
    border-color: #666666;
    border-width: 1px;
           
}

input[class=logoutBtn]:hover {
    background-color:rgba(255,255,255, 0.65);
    
   
}


.menu{
    margin:25px;
    float:left;
    width:70px;
    
}


input[class=menuBtn] {
    margin:0;
    width: 100%;
    background-color:rgba(255,255,255, 0.00);
    color: #4d4d4d;
    padding:10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:solid;
    border-color: #666666;
    border-width: 1px;
   
   
    
        
}

input[class=menuBtn]:hover {
    background-color:rgba(255,255,255, 0.65);
    
   
}

.labelText{
    
    letter-spacing: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-left: 2px;
}




