.header {
    
    background:rgba(255,255,255, 0.30);
    background-size:100% 100%;
    height:90px;
    border-bottom-width: 2px;
    border-bottom-color: #666666;
    border-bottom-style: solid;
 
}

.main{
  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.article_form {

  
  opacity: 0.90;
  margin-top: 100px;
  width: 400px;
  height: 455px;
  border-radius: 15px;
  background-color:rgba(255,255,255, 0.65);;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left:10px;
  margin-right:10px;
  border:solid;
  border-color: #666666;
  border-width: 2px;
  

}

.article_out {

  opacity: 0.90;
  margin-top: 100px;
  min-height: 490px;
  width: 750px;
  height: auto;
  border-radius: 15px;
  background-color:rgba(255,255,255, 0.65);;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left:10px;
  margin-right:10px;  
  border:solid;
  border-color: #666666;
  border-width: 2px;
 
}

input[type=time]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 7px;
    box-sizing: border-box ;
    background-color:rgba(255,255,255, 0.75);
}

input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 7px;
    box-sizing: border-box ;
    background-color:rgba(255,255,255, 0.75);
}


.text{
    
    color:#4d4d4d;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    text-align: center;
    
}

#returnText{
    
    color:red;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    text-align: center;
}

body {
    
    background: #3494e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3494e6, #ec6ead); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3494e6, #ec6ead); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:0;
    margin:0;
   
   }

#div {
    
    height:15px;
   
  }

input[type=text], select {
   
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 7px;
    box-sizing: border-box ;
    background-color:rgba(255,255,255, 0.75);
}



input[type=submit] {
    width: 100%;
    background-color:rgba(255,255,255, 0.4);
    color: black;
    padding: 14px 20px;
    margin: 4px 0;
    border:solid;
    border-color: #666666;
    border-width: 1px;
    border-radius: 7px;
    letter-spacing: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:rgba(255,255,255, 0.65);
}

table, th, td {
  border: 1px solid grey;
}



th, td {
  padding: 15px;
  text-align: left;
}

table {
  border-collapse: collapse;
    color:#4d4d4d;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



.logout{
    margin:25px;
    float:right;
    width:70px;
    
}


input[class=logoutBtn] {
     margin:0;
    width: 100%;
    background-color:rgba(255,255,255, 0.00);
    color: #4d4d4d;
    padding:10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:solid;
    border-color: #666666;
    border-width: 1px;
   
    
        
}

input[class=logoutBtn]:hover {
    background-color:rgba(255,255,255, 0.65);
    
   
}

.menu{
    margin:25px;
    float:left;
    width:70px;
    
}


input[class=menuBtn] {
    margin:0;
    width: 100%;
    background-color:rgba(255,255,255, 0.00);
    color: #4d4d4d;
    padding:10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:solid;
    border-color: #666666;
    border-width: 1px;
   
   
    
        
}

input[class=menuBtn]:hover {
    background-color:rgba(255,255,255, 0.65);
    
   
}

.labelText{
    
    letter-spacing: 1px;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-left: 2px;
}

.text_check_flights{
    
    color:#4d4d4d;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    text-align: center;
    margin-top:30px;
    
}