#header {
    
    opacity: 0.95;
    background-color:#45a049;
    background-size:100% 100%;
    height:90px;
    border-bottom-width: 2px;
    border-bottom-color: #666666;
    border-bottom-style: solid;
 
}

#main{
  
    margin:0;
    padding:0;
  
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box ;
}

.product {
 
  opacity: 0.90;
  width: 600px;
  height: 780px;
  border-radius: 17px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top:20px;
  margin-left:20px;
  box-sizing: border-box;
  border: solid 2px #4d4d4d;
  
}



body {
    background-color: #d6d6d6;
    padding:0;
    margin:0;
   }


input[type=submit] {
  
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 34px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.logout{
    margin:25px;
    float:right;
    width:70px;
   
}


input[name=logoutBtn] {
    margin:0;
    width: 100%;
    background-color: #f2f2f2;
    color: #4d4d4d;
    padding:10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:solid;
    border-color: #666666;
    border-width: 1px;
   
    
        
}

input[name=logoutBtn]:hover {
    background-color: #d6d6d6;
    
   
}






