#header {
    
    opacity: 0.95;
    background-color:#45a049;
    background-size:100% 100%;
    height:90px;
    border-bottom-width: 2px;
    border-bottom-color: #666666;
    border-bottom-style: solid;
 
}

#main{
  
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

#article1 {

  
  opacity: 0.90;
  margin-top: 100px;
  width: 400px;
  height: 490px;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left:10px;
  margin-right:10px;
  border:solid;
  border-color: #666666;
  border-width: 2px;
  

}

#article2 {

  opacity: 0.90;
  margin-top: 100px;
  min-height: 490px;
  width: 750px;
  height: auto;
  border-radius: 15px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left:10px;
  margin-right:10px;  
  border:solid;
  border-color: #666666;
  border-width: 2px;
 
}

input[type=time]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box ;
}

input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box ;
}


#text{
    
    color:#4d4d4d;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    text-align: center;
    
}

#returnText{
    
    color:red;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    text-align: center;
}

body {
    background-color: #d6d6d6;
    padding:0;
    margin:0;
   
   }

#div {
    
    height:15px;
   
  }

input[type=text], select {
   
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box ;
}



input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

table, th, td {
  border: 1px solid black;
}



th, td {
  padding: 15px;
  text-align: left;
}

table {
  border-collapse: collapse;
    color:#4d4d4d;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



.logout{
    margin:25px;
    float:right;
    width:70px;
    
}


input[name=logoutBtn] {
    margin:0;
    width: 100%;
    background-color: #f2f2f2;
    color: #4d4d4d;
    padding:10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:solid;
    border-color: #666666;
    border-width: 1px;
   
    
        
}

input[name=logoutBtn]:hover {
    background-color: #d6d6d6;
    
   
}