#header {


    z-index: 1;
    position: fixed; 
    top: 0; 
    width: 100%; 

    background-color:#45a049;
    background-size:100% 100%;
    height:90px;
    border-bottom-width: 2px;
    border-bottom-color: #666666;
    border-bottom-style: solid;



}

#main{

    display:flex;
    margin-top:150px;
    padding:0;

}

.filterMenu{

    position: -webkit-sticky; /* Safari */
    top: 110px;
    position:sticky;
    display:inline-block;
    justify-content: center;
    align-content: center;
    height: 635px;
    width:250px;
    min-width: 250px;
    margin-top:20px;
    border-radius: 17px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top:20px;
    margin-left:20px;
    box-sizing: border-box;
    border: solid 2px #4d4d4d;
    float:left;
}

.boxForProducts{


    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    float:left;

}


.table1{

    background-color: #4CAF50;
    height: 25px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: -100;
}

.productName{
    color:#4d4d4d;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 28px;
    font-weight: bold;
    text-align: center;

}

.productDescription{
    color:#4d4d4d;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    text-align:left;

}

.productPrice{
    position: absolute;
    top:420px;
    right: 20px;
    color: red;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-top:20px;


}

.productStock{
    color:#4d4d4d;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    text-align:left;
    position: absolute;
    bottom: 0;
    left: 20px;


}

a:link, a:visited {
    background-color: #4CAF50;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

a:hover, a:active {
    background-color: #45a049;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

a{

    padding-bottom: 30px;
    position: absolute;
    top: 425px;
}





.product {
    position: relative;
    opacity: 0.90;
    width: 300px;
    height: 530px;
    border-radius: 17px;
    background-color: white;
    padding: 20px;
    margin-top:20px;
    margin-left:20px;
    box-sizing: border-box;
    border: solid 2px #4d4d4d;




}

.text{

    color:#4d4d4d;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    text-align: center;
    margin: 10px;

}

#returnText{

    color:red;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    text-align: center;
}

body {
    background-color: #d6d6d6;
    padding:0;
    margin:0;
}

#div {

    height:15px;

}


.logout{
    margin:25px;
    float:right;
    width: 120px;

    display: flex;
    justify-content: space-between;


}


input[class=logoutBtn] {
    margin:0;
    width: 100%;
    background-color: #f2f2f2;
    color: #4d4d4d;
    padding:10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:solid;
    border-color: #666666;
    border-width: 1px;



}

input[class=logoutBtn]:hover {
    background-color: #d6d6d6;


}

.menu{
    margin:25px;
    float:left;
    width:70px;

}


input[class=menuBtn] {
    margin:0;
    width: 100%;
    background-color: #f2f2f2;
    color: #4d4d4d;
    padding:10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:solid;
    border-color: #666666;
    border-width: 1px;



}

input[class=menuBtn]:hover {
    background-color: #d6d6d6;


}





input[class=addBtn] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 12px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}

input[class=addBtn]:hover {
    background-color: #45a049;
}



input[class=catBtn] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 6px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}

input[class=catBtn]:hover {
    background-color: #45a049;
}

input[type=text], select {

    width: 100%;
    padding: 12px 10px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box ;
}



input[class=filter_button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

input[class=filter_button]:hover {
    background-color: #45a049;
}

input[name=cartBtn]:link, input[name=cartBtn]:visited {

    margin:0;
    width: 100%;
    background-color: #f2f2f2;
    color: #4d4d4d;
    padding:10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border:solid;
    border-color: #666666;
    border-width: 1px;
}

input[name=cartBtn]:hover {
    background-color: #d6d6d6;
}
